<div class="login-container">
    <mat-card>
      <mat-card-title>Iniciar Sesión</mat-card-title>
  
      <form (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" appearance="fill">
          <input matInput placeholder="Correo Electrónico" type="email" id="email" [(ngModel)]="user.email" name="email" required>
        </mat-form-field>
  
        <mat-form-field class="full-width" appearance="fill">
          <input matInput placeholder="Contraseña" type="password" id="password" [(ngModel)]="user.password" name="password" required>
        </mat-form-field>
  
        <button mat-raised-button color="primary" class="full-width" type="submit">Iniciar Sesión</button>
      </form>
  
      <p>¿No tienes una cuenta? 
        <a routerLink="/register">Regístrate aquí</a>
      </p>
    </mat-card>
  </div>
  